{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{#author}}
{{!-- Everything inside the #author tags pulls data from the author --}}

  {{> "author-card"}}
{{/author}}


<section class="pt-4 pt-md-5 pb-2 pb-md-3">
    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-12 col-md">
                <h3 class="mb-0">
                    Todas las publicaciones
                </h3>
            </div>
        </div> 
    </div>
</section>

<section class="pb-4 pb-md-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
            {{#foreach posts}}
            <div class="col my-3">
                {{> "post-vertical-card"}}
            </div>
            {{/foreach}}
        </div>
    </div>
</section>