{{!< default}}

<section class="py-4 py-md-5">
    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-12 col-md">
                <h3 class="mb-0 text-primary">
                    Guías y recursos principales
                </h3>
                <p class="mb-0 text-muted">
                    Resuelve tus dudas sobre emprender en México.
                </p>
            </div>
        </div> 
        <div class="row">
            <div class="col-12">
                {{#get "posts" limit="all" filter="featured:true" include="authors,tags"}}
                    {{#foreach posts}}
                        {{> "post-card"}}
                    {{/foreach}}
                {{/get}}
            </div>
        </div>
    </div> 
</section>