{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{#tag}}
<section class="py-4 py-md-5">
    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-12 col-md">
                <h3 class="mb-0 text-primary">
                    {{name}}
                </h3>
                <p class="mb-0 text-muted">
                {{#if description}}
                    {{description}}
                {{else}}
                    Una colección de {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
                {{/if}}
                </p>
            </div>
        </div> 
    </div>
</section>
{{/tag}}

<section class="pb-4 pb-md-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
            {{#foreach posts}}
            <div class="col my-3">
                {{> "post-vertical-card"}}
            </div>
            {{/foreach}}
        </div>
    </div>
</section>